*{  margin-left: 5px; 
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:saddlebrown;
  text-align: left;
  font-size: 25px;
  margin-top:3mm;
  margin-block-end: -2mm;
  
}

fieldset {
  position:absolute;
  border-radius: 6mm;
  size: 50px;
  right: 1050px;
  top: 100px;
  border-color: rosybrown;
  margin-top: -10mm;
  z-index:10;
}
.fondo {
  background-color: skyblue;
}
.negrilla {
  font-style: italic;
  font-weight: bold;
}
button {
  border-radius: 1mm;
  border-bottom-style: outset;
  color: whitesmoke;
  background-color: seagreen;
}
.dato_usuario {
  position: relative;
  left: 6mm;
}

.div1{
  position:relative;
  size: 100%;
  width: 1540px;
  height: 660px;
  z-index: -2;
}

.div2{
  position: relative;
  right: ;
}